*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    user-select:none

}
html{
    -webkit-tap-highlight-color: transparent;
    -tap-highlight-color: transparent;

    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
}
.scoreboard{
    display: flex;
    justify-content: center;
}
.game{
    border: #111111 solid 0.5rem;
    display: flex;
    flex-direction: column;
    height: 100%;
}
.main-container{
    display: flex;
}
.squares{
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #78866b;    
    height: 40px;
    width: 40px;
}
.separator-container{
    display: flex;
}

.vertical{
    height: 40px;
    width: 20px;
}
.horizontal{
    height: 20px;
    width: 40px;
}
.gap {
    background-color: #696969a2;
    height: 20px;
    width: 20px;
}  
.hidden{
    display: none;
}
.red{
    background-color: red;
}
.black{
    background: black;
}
.white{
    background-color: white;
}
.player{
    font-size: 25pt;
    position: absolute;
}

@media screen and (max-width: 768px){
    .squares{
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #78866b;    
        height: 25px;
        width: 25px;
    }
    
    .vertical{
        height: 25px;
        width: 16px;
    }
    .horizontal{
        height: 16px;
        width: 25px;
    }
    .gap {
        background-color: #696969a2;
        height: 16px;
        width: 16px;
    }  
    .player{
        font-size: 15.6pt;
        position: absolute;
    }
    .scoreboard{
        display: flex;
        justify-content: center;
        font-size: 10pt;
    }
    
}


@media screen and (min-width: 768px) and (min-height: 468px) {
    .space-btw-sqr:hover {
        cursor: pointer;
        background-color: #74fa76c6;
    }
  }
